<div class="decoration-container">
  <div class="decoration corner-ul"></div>
  <div class="decoration corner-ur"></div>
  <div class="decoration corner-bl"></div>
  <div class="decoration corner-br"></div>
</div>
