<div class="toggle-container"
     data-action="toggleSheetMode"
     data-tooltip="{{tooltip}}"
     data-tooltip-direction="{{tooltipDir}}">
  <a class="toggle-switch {{#if isEditMode }}toggled{{/if }}"></a>
</div>
