<a class="toggle-container"
   data-action="toggleSheetMode"
   data-tooltip="{{tooltip}}"
   data-tooltip-direction="{{tooltipDir}}">

  <i class="fas fa-xs fa-lock{{#if isEditMode }}-open{{/if }}"></i>
</a>
