<div class="toggle-container" data-action="toggleSheetMode">
  <i class="fas fa-sm fa-lock"></i>
  <a class="toggle-switch {{#if isEditMode }}toggled{{/if}}"></a>
  <i class="fas fa-sm fa-edit"></i>
</div>
