<div class="toggle">
  <i class="fas fa-sm fa-lock"></i>
  <a
    class="toggle {{#if isEditMode}}toggled{{/if}}"
    data-action="toggleSheetMode"
    name="isEditMode"
    type="checkbox"
  >
  </a>
  <i class="fas fa-sm fa-edit"></i>
</div>
