@use "../variables/fonts" as *;

@mixin lists {
  ol {
    font-family: $font-trattatello;
    font-size: 1.1em;
    margin-left: 1rem;

    li {
      padding-left: 0.5rem;
    }
  }

  ul {
    margin-left: 0.5rem;

    li {
      padding-left: 1rem;
    }

    ::marker {
      content: "\25C6";
      font-size: 0.6em;
    }
  }
}
