@use "sass:color";

@use "../utils/var-utils" as *;
@use "../variables/color" as *;
@use "../variables/generic" as *;

:root {
  /* ----------------- Themed Images ----------------- */
  @include setVars(
    (
      sheet-background:
        url("#{$assetsPrefix}/sheet/sheet-background-light.webp"),
    )
  );

  /* ----------------- Themed Colors ----------------- */
  @include setVars(
    (
      color-help-mode: $purple-dark,
      color-input-outline: $discworld-brown,
      color-portrait-shadow: $red-dark,
      color-title: $discworld-brown,

      color-callout-primary: color.adjust($discworld-sand, $alpha: -0.65),
      color-callout-secondary: color.adjust($blue-light, $alpha: -0.7),
      color-callout-secondary-shadow: $blue-very-light,

      color-toggle-icon: $discworld-brown,
      color-toggle-on: $discworld-brown,
      color-toggle-off: rgb(116, 116, 116),
    )
  );
}
