@use "sass:color";

@use "../utils/var-utils" as *;
@use "../variables/color" as *;
@use "../variables/generic" as *;

body.theme-dark,
.application.theme-dark {
  /* ----------------- Themed Images ----------------- */
  @include setVars(
    image,
    (
      sheet-background: initial,
    )
  );

  /* ----------------- Themed Colors ----------------- */
  @include setVars(
    color,
    (
      help-mode: #5479b1,
      input-outline: $purple-light,
      title: $purple-light,
      title-alt: #9a6ab6,
      link: $purple-light,

      callout-primary: color.adjust(#381b49, $alpha: -0.65),
      callout-primary-shadow-inset: #000,
      callout-primary-shadow-depth: #633d79,

      dialog-button-background: #c3a1d1,
      dialog-button-background-hover: #95a5da,
      dialog-button-text: var(--color-dark-2),
      toggle-icon: $purple-light,
    )
  );

  /* ----------------- Themed Filters ---------------- */

  @include setVars(
    filter,
    (
      logo: invert(0.8),
    )
  );
}
