<section class="tab description {{tabs.description.cssClass}}"
         data-group="{{tabs.description.group}}"
         data-tab="{{tabs.description.id}}">
  {{formInput fields.description.field value=fields.description.value label=fields.description.label enriched=fields.description.enriched toggled=true}}
</section>
