<footer class="sheet-footer">
  <div class="description-container">
    <div class="description">
      As a troll, Constable Cliff has heard all the jokes. People think trolls
      are stupid, violent and cruel. The fact that it is usually stupid, violent
      and cruel people that think this is little consolation. Cliff doesn’t mind
      though, he approaches every person with a diamond-toothed smile and a
      determination to meet everyone halfway. His efforts have made him the face
      of the Watch to many of Ankh-Morpork’s residents who have heard of him.
      Which is some of them.
    </div>
  </div>
</footer>