/* ------------------ Theme Colors ----------------- */

$discworld-brown: #7e4839;

/* ----------------- Generic Colors ---------------- */

$gray-dark: #444;

$red-dark: #610000;

$blue-light: #7ac3e0;
$blue-very-light: #d2e9f8;

$purple-dark: #671a46;
