/* ------------------ Theme Colors ----------------- */

$discworld-brown: #7e4839;
$discworld-sand: #d0a773;
$discworld-sand-light: #b99d85;
$discworld-sand-dark: #83643e;

/* ----------------- Generic Colors ---------------- */

$gray-dark: #444;

$red-dark: #610000;

$blue-light: #7ac3e0;
$blue-very-light: #d2e9f8;

$purple-dark: #671a46;
$purple-light: #c3a1d1;
