/* ------------------ Theme Colors ----------------- */

$discworld-brown: #7e4839;

/* ----------------- Generic Colors ---------------- */

$gray-dark: #444;

$red-light: #b64848;
$red: #b90202;

$blue-light: #3191b7;
$blue-very-light: #d2e9f8;

$purple-dark: #671a46;
