@use "../utils/var-utils" as *;

@mixin toggle-switch(
  $width: 1.875rem,
  $padding: 0.063rem,
  $color-toggle-off: getVar(color-toggle-off),
  $color-toggle-on: getVar(color-toggle-on),
  $duration: 0.2s
) {
  $height: calc($width / 2);
  $dot-height: calc($height - ($padding * 2));

  .toggle-container {
    width: fit-content;

    .icon-container {
      position: relative;

      i {
        position: absolute;
        top: 0.6rem;

        cursor: pointer;
        color: getVar(color-toggle-icon);

        opacity: 1;
        transition: opacity $duration ease-in-out;

        &.not-visible {
          opacity: 0;
          transition: opacity $duration ease-in-out;
        }
      }
    }

    a.toggle-switch {
      position: relative;
      display: inline-block;

      vertical-align: middle;
      width: $width;
      height: $height;

      margin-left: 1.1rem;

      border-radius: $height;
      background-color: $color-toggle-off; // Initial background color when unchecked
      transition: background-color $duration;

      &:before {
        content: "";

        display: block;
        width: $dot-height;
        height: $dot-height;
        border-radius: 50%; // Round border for the dot
        background-color: white; // Dot color
        transition: transform $duration;
        position: absolute;
        top: $padding;
        left: $padding;
      }

      &.toggled:before {
        transform: translateX($height);
      }

      &.toggled:after {
        content: "";
      }

      &.toggled {
        background-color: $color-toggle-on; // Change background color when checked
      }
    }
  }
}
