@use "../variables/fonts" as *;

@mixin trait-quote {
  .trait-quote {
    quotes: "“ " ". ”";
    text-align: center;

    cite {
      font-size: 1.025rem;
      padding-left: 3.5rem;

      &::before {
        content: "— ";
      }
    }
  }
}
