@use "../utils/toggle-switch" as *;
@use "../utils/var-utils" as *;

@use "../variables/fonts" as *;

.application.discworld.actor-sheet {
  &::not(.minimized) {
    min-width: 420px;
    min-height: 515px;
  }

  &.help-mode .window-content {
    animation: flash 1s ease-in-out infinite alternate;

    @keyframes flash {
      0% {
        box-shadow: inset 0px 0px 20px 5px getVar(color-help-mode);
      }
      100% {
        box-shadow: inset 0px 0px 20px 8px getVar(color-help-mode);
      }
    }
  }

  header.sheet-header {
    position: relative;

    .name-pronouns-container {
      flex: 3;

      padding: 0 0.5rem;
      border-radius: 0.75rem;

      @include toggle-switch();

      background-image: linear-gradient(
        getVar(color-callout-primary) 0%,
        transparent 90%
      );
      box-shadow: inset 0 0 20px #eee;
      filter: drop-shadow(0 0 10px getVar(color-callout-primary));

      h1.name {
        flex: none;
        font-family: $font-caslon;

        margin: 0.25rem 0 0 0;

        &,
        input {
          color: getVar(color-title);
          text-align: center;

          font-size: 2.25rem;
          font-weight: bold;

          height: 36px;
        }
      }

      .pronouns-subrow {
        align-items: flex-start;

        font-family: $font-caslon;
        font-size: 1.25rem;

        input {
          padding-right: 0.25rem;
          text-align: right;

          font-size: inherit;
          height: unset;
          line-height: unset;
        }

        .luck-container {
          gap: 0.25rem;

          font-weight: normal;

          padding: 0.25rem 0.25rem 0;

          label {
            flex: 0;
            font-weight: bold;
          }

          input {
            flex: 0 0 1em;

            background: none;

            &:hover {
              outline: 2px solid var(--input-focus-outline-color);
            }
          }
        }

        .pronouns {
          padding-top: 0.25rem;

          text-align: right;
          font-weight: bold;

          input {
            width: 50%;
          }
        }
      }
    }

    aside.help-aside {
      position: absolute;
      height: unset;
      inset: 0.125rem;
    }
  }

  section.tab {
    &.traits {
      hr {
        color: getVar(color-title);
        background-image: linear-gradient(
          90deg,
          transparent 0%,
          getVar(color-title) 50%,
          transparent 100%
        );
      }

      .trait-type {
        .trait-category {
          flex: 0 0 7.5rem;

          label {
            font-family: $font-trattatello;
            font-size: 1.15rem;
          }
        }

        .trait-list {
          flex: 3;

          padding: 0 0.25rem;
        }
      }
    }

    &.description {
      gap: 0.5rem;
      line-height: unset;
    }
  }
}
