@use "sass:color";
@use "sass:math";

@use "../utils/callouts" as *;
@use "../utils/decoration" as *;
@use "../utils/var-utils" as *;

@use "../variables/fonts" as *;
@use "../variables/generic" as *;

.application.discworld.document-sheet {
  overflow: visible;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: getVar(sheet-background);

  @include sheet-decoration();

  input,
  select {
    // Replace a Foundry variable with our own.
    --input-focus-outline-color: #{getVar(color-input-outline)};
  }

  &.minimized .window-header {
    background-image: getVar(sheet-background);
    background-size: cover;

    * {
      color: var(--color-text-primary);
    }
  }

  $horizontal-margin: abs($corner-horizontal-offset) * 2; // Margin to clear decoration intrusion.
  .window-header:not(.minimized > *) {
    --header-height: 48px; // Foundry variable.

    display: grid;
    // These adjustments frame the logo a little better.
    grid-template-columns:
      calc($corner-ul-intrustion - 20px)
      1fr
      calc($corner-ur-intrustion - 9px);
    gap: unset;

    overflow: unset;
    z-index: 2;

    padding: unset;

    background: none;
    border-bottom: none;

    h1.window-title {
      grid-column: 2;

      align-self: baseline;
      height: 150%;

      color: transparent;

      background-image: url(#{$assetsPrefix}/dw-logo.webp);
      background-size: auto 138%;
      background-position: center;
      background-repeat: no-repeat;
    }

    .button-wrapper {
      display: flex;
      grid-column: 3;

      justify-content: flex-end;

      margin-right: $horizontal-margin;
    }
  }

  menu.controls-dropdown {
    z-index: 2;
  }

  .window-content {
    margin: 1rem $horizontal-margin;
    padding: 0.5rem;
    backdrop-filter: unset;
  }

  .window-resize-handle {
    z-index: 2;
    filter: invert(1);
    transform: scale(2);
  }

  header.sheet-header {
    gap: 0.25rem;

    $sheet-header-height: 100px;
    height: $sheet-header-height;

    > * {
      height: 100%;
      justify-content: center;

      font-size: 1rem;
    }

    div.portrait-container {
      flex: 0 0 $sheet-header-height;
      margin-right: unset;

      filter: drop-shadow(2px 2px 6px getVar(color-portrait-shadow));
    }

    img.portrait {
      cursor: pointer;
      border: unset;

      mask-image: url(#{$assetsPrefix}/sheet/paint-smear.webp);
      mask-size: cover;
      mask-repeat: no-repeat;
    }

    input {
      border: none;
    }

    label {
      align-self: center;
    }
  }

  nav.tabs {
    position: relative;
    line-height: 1.75;
    gap: 2rem;

    color: getVar(color-title);

    margin: 0.5rem 0 0.25rem 0;

    border: none;
    border-radius: 10px;
    @include callout-primary;

    &::before {
      content: "";
      pointer-events: none;

      z-index: 1;
      position: absolute;
      bottom: -25px;

      width: 100%;
      height: 100%;

      background-image: url(#{$assetsPrefix}/sheet/banner-decoration-01.webp);
      background-size: 100%;
      background-repeat: no-repeat;

      filter:
        // Top Shadow: Blends decoration into nav background.
        // Bottom Shadow: Gives decoration depth.
        drop-shadow(0px -4px 10px getVar(color-callout-primary))
        drop-shadow(2px 4px 6px #382501);
    }

    a {
      flex: 1;

      border-width: 2px;
      border-style: dotted dotted none;
      border-radius: inherit;

      &.active {
        border-style: solid solid none;
      }

      label {
        font-family: $font-caslon;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  section.tab {
    overflow: auto;

    height: 100%;

    margin-top: 2rem;

    prose-mirror {
      min-height: 100%;

      // Get rid of base styling's large margin in dropdown menus.
      menu .pm-dropdown i.fa-chevron-down {
        margin-left: unset;
      }
    }
  }
}
