@use "mixins" as *;

.chat-message .discworld {
  header {
    margin: 0.25rem 0;
  }

  .dice-rolls {
    gap: 0.25rem;

    .result-container {
      flex: 1;

      text-align: center;

      button {
        margin: 0.25rem 0;
        line-height: unset;
      }

      ol.result {
        list-style: none;

        display: flex;
        justify-content: center;

        text-align: center;
        font-weight: bold;
        font-size: 1.25rem;

        margin: 0;
        padding: 0.125rem 0;

        background: rgba(0, 0, 0, 0.1);
        border: 1px solid var(--color-border-light-2);
        border-radius: 3px;
        box-shadow: 0 0 2px #fff inset;

        li {
          $height: 2.25rem;
          height: $height;
          width: $height;
          align-items: center;

          // Animation Properties
          $anim: ease-in-out 0.5s;
          opacity: 1;
          transform: translateX(0);
          transition:
            opacity $anim,
            transform $anim;

          @include dice-backgrounds;

          // Mixin applied to either the whole <li>, or the enclosed <span>
          @mixin not-visible {
            &.not-visible {
              opacity: 0;
              transition: opacity $anim;
            }
          }

          @include not-visible;

          span {
            opacity: 1;
            transition: opacity $anim;

            @include not-visible;
          }

          // Move the d4 result text down a bit to better align with the dice icon.
          &.d4 span {
            display: inline-block;
            transform: translateY(0.125rem);
          }

          &.move-right {
            transform: translateX(calc($height / 2));
          }
        }
      }
    }

    .dice-roll + .dice-roll {
      margin-top: unset;
    }
  }
}
