@use "fonts" as *;
@use "mixins" as *;

.application.discworld {
  overflow: visible;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--sheet-background);

  .window-content {
    backdrop-filter: unset;
  }

  &.help-mode .window-content {
    animation: flash 3s ease-in-out infinite;

    @keyframes flash {
      0% {
        box-shadow: inset 0px 0px 20px 5px #671a46;
      }
      50% {
        box-shadow: inset 0px 0px 20px 8px #671a46;
      }
      100% {
        box-shadow: inset 0px 0px 20px 5px #671a46;
      }
    }
  }

  @include toggle-switch();

  label {
    font-family: $font-trattatello;
    font-size: 1.15rem;
  }

  hr {
    color: #7e4839;
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      #7e4839 50%,
      transparent 100%
    );
  }

  header.sheet-header {
    position: relative;

    $header-height: 100px;
    height: $header-height;
    margin-bottom: 0.5rem;

    > * {
      height: 100%;
      justify-content: center;

      font-size: 1rem;
    }

    img.portrait {
      flex: 0 0 $header-height;
      border: unset;
      margin-right: unset;
    }

    input {
      text-align: center;
      font-size: 1rem;
    }

    .name-pronouns-container {
      flex: 3;

      padding: 0 0.5rem;

      h1.name {
        flex: none;
        font-family: $font-caslon;

        input {
          margin: unset;
          font-size: 2.25rem;
          font-weight: bold;
        }
      }

      .pronouns-subrow {
        align-items: flex-start;
        padding: 0 0.25rem;
        padding-top: 0.125rem;

        font-family: $font-caslon;
        font-size: 1.25rem;
        font-weight: bold;

        .pronouns {
          text-align: right;
        }

        input {
          padding-right: 0.25rem;

          font-size: inherit;
          font-weight: inherit;

          text-align: right;
        }
      }
    }

    .luck-container {
      flex: 0.75;

      padding: 0.25rem;

      border-style: solid;
      border-radius: 0.25rem;
      border-color: #7e4839;
      border-width: 1px;
    }

    label {
      align-self: center;

      padding-bottom: 0.5rem;
    }

    aside.help-aside {
      position: absolute;
      height: unset;
      inset: 0.125rem;
    }
  }

  section.tab {
    .trait-type {
      label {
        align-self: flex-start;
      }
    }

    .trait-list {
      flex: 3;

      padding: 0 0.25rem;
    }
  }

  section.description {
    gap: 0.5rem;
    line-height: unset;
    height: 100%;
  }
}
