@use "sass:color";

@use "mixins" as *;
@use "variables/color" as *;
@use "variables/fonts" as *;
@use "variables/generic" as *;
@use "variables/variable-utils" as *;

.application.discworld {
  overflow: visible;

  min-width: 420px;
  min-height: 515px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: getVar(sheet-background);

  .window-header {
    --header-height: 48px; // Foundry variable.
    z-index: 2;

    padding-left: 4rem;
    padding-right: 2rem;

    button {
      margin-top: 1rem;
    }
  }

  .window-content {
    padding: 1rem 2rem;
    backdrop-filter: unset;
  }

  &.help-mode .window-content {
    animation: flash 1s ease-in-out infinite alternate;

    @keyframes flash {
      0% {
        box-shadow: inset 0px 0px 20px 5px getVar(color-help-mode);
      }
      100% {
        box-shadow: inset 0px 0px 20px 8px getVar(color-help-mode);
      }
    }
  }

  .window-resize-handle {
    z-index: 2;
    filter: invert(1);
    transform: scale(2);
  }

  header.sheet-header {
    position: relative;

    gap: 0.25rem;

    $sheet-header-height: 100px;
    height: $sheet-header-height;

    > * {
      height: 100%;
      justify-content: center;

      font-size: 1rem;
    }

    div.portrait-container {
      flex: 0 0 $sheet-header-height;
      margin-right: unset;

      filter: drop-shadow(2px 2px 6px getVar(color-portrait-shadow));
    }

    img.portrait {
      cursor: pointer;
      border: unset;

      mask-image: url(#{$assetsPrefix}/sheet/paint-smear.webp);
      mask-size: cover;
      mask-repeat: no-repeat;
    }

    input {
      border: none;
    }

    .name-pronouns-container {
      flex: 3;

      padding: 0 0.5rem;
      border-radius: 0.75rem;

      background-color: getVar(color-header-background);
      box-shadow:
        inset 0 0 10px white,
        0 0 10px getVar(color-header-shadow);

      @include toggle-switch();

      h1.name {
        flex: none;
        font-family: $font-caslon;

        margin: unset;

        input {
          color: getVar(color-title);
          text-align: center;

          font-size: 2.25rem;
          font-weight: bold;

          margin-top: 0.25rem;
        }
      }

      .pronouns-subrow {
        align-items: flex-start;

        font-family: $font-caslon;
        font-size: 1.25rem;

        .luck-container {
          gap: 0.25rem;

          font-weight: normal;

          padding: 0.25rem 0.25rem 0;

          label {
            flex: 0;
            font-weight: bold;
          }

          div.flexrow {
            flex: 0 0 3.5rem;
            font-family: $font-trattatello;
          }
        }

        input {
          padding-right: 0.25rem;
          text-align: right;

          font-size: inherit;
          height: unset;
          line-height: unset;
        }

        .pronouns {
          padding-top: 0.25rem;

          text-align: right;
          font-weight: bold;

          input {
            width: 50%;
          }
        }
      }
    }

    label {
      align-self: center;
    }

    aside.help-aside {
      position: absolute;
      height: unset;
      inset: 0.125rem;
    }
  }

  nav.tabs {
    position: relative;
    line-height: 1.75;

    color: getVar(color-title);

    margin-bottom: 0.5rem;
    border: none;

    &::before {
      content: "";
      pointer-events: none;

      z-index: 1;
      position: absolute;
      bottom: -30px;

      width: 100%;
      height: 100%;

      background-image: url(#{$assetsPrefix}/sheet/banner-decoration-01.webp);
      background-size: 100%;
      background-repeat: no-repeat;

      filter: drop-shadow(2px 4px 6px #000000);
    }

    a {
      flex: 1;

      label {
        font-family: $font-caslon;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  section.tab {
    margin-top: 2rem;

    &.traits {
      hr {
        color: getVar(color-title);
        background-image: linear-gradient(
          90deg,
          transparent 0%,
          getVar(color-title) 50%,
          transparent 100%
        );
      }

      .trait-type {
        .trait-category {
          flex: 0 0 7.5rem;

          label {
            font-family: $font-trattatello;
            font-size: 1.15rem;
          }
        }

        label {
          align-self: flex-start;
        }
      }

      .trait-list {
        flex: 3;

        padding: 0 0.25rem;
      }
    }

    &.description {
      gap: 0.5rem;
      line-height: unset;
      height: 100%;
    }
  }
}
