@use "mixins" as *;

dialog.discworld {
  button {
    min-width: unset !important;

    @mixin button-background {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 36px 36px;
    }

    @include button-background;

    color: #000;
    font-weight: bold;

    &:hover {
      @include button-background;
    }

    @include dice-backgrounds;
  }
}
