@use "utils/dice" as *;

dialog.discworld {
  button {
    min-width: unset !important;

    color: #000;
    font-weight: bold;

    &:hover {
      @include dice-backgrounds(false);
    }

    @include dice-backgrounds;
  }
}
