<div class="document-details flexrow">
  <div class="details-left">
    <a data-action="placeMembers" {{disabled (not header.canPlaceMembers)}}>
      <i class="fa-solid fa-fw fa-bullseye" inert></i>
      <span>{{localize "DISCWORLD.party.placeMembers"}}</span>
    </a>
  </div>
  <div class="details-right">
    <a data-action="prepareGroupRoll">
      <i class="fa-solid fa-fw fa-dice-d20" inert></i>
      <span>{{localize "DISCWORLD.party.groupRoll"}}</span>
    </a>
  </div>
</div>
